name: Test

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: '0 0/2 * * *' # Every two hours

jobs:
  test:
    if: ${{ github.repository == 'redpanda-data/benthos' || github.event_name != 'schedule' }}
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: 0
    steps:

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version: stable

    - name: Install Task
      uses: ./.github/actions/setup-task

    - name: Deps
      run: task deps && git diff-index --quiet HEAD || { >&2 echo "Stale go.{mod,sum} detected. This can be fixed with 'task deps'."; exit 1; }

    - name: Test
      run: task test

    - name: Test WASM build
      run: task build:benthos-wasm

  golangci-lint:
    if: ${{ github.repository == 'redpanda-data/benthos' || github.event_name != 'schedule' }}
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: 0
    steps:

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version: stable

    - name: Set version env variables
      run: |
        cat .versions >> $GITHUB_ENV

    - name: Lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: "v${{env.GOLANGCI_LINT_VERSION}}"
        args: "cmd/... internal/... public/..."
        skip-cache: true
        skip-save-cache: true

